@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

html {
  font-size: 62.5%;
}

body {
  background: $bg-color-dark;
  margin: 0;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $lg) {
    width: 1200px;
  }
}

.page-header {

  @media (min-width: $sm) {
    background: $bg-color-white;
    height: 5rem;
  }

  .main-nav {
    @media(min-width: $sm) {
      margin-bottom: -1.3rem;
      margin-top: -1rem;
    }

    @media (min-width: $md) {
      margin-bottom: -1.3rem;
      margin-top: -1rem;
      padding: 0;
    }

    &__items {
      @media (min-width: $sm) {
        visibility: hidden;
      }
      @media (min-width: $md) {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding-top: 2rem;
        padding-bottom: 4rem;
        padding-left: 0;
      }
    }

    &__item {
      @media (min-width: $md) {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        width: 20%;
        justify-content: space-around;
      }
    }

    &__item:nth-child(2) {
      @media (min-width: $md) {
        margin-right: 20%;
      }
    }

    &__logo {
      @media (min-width: $sm) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
      @media (min-width: $md) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
    }

    &__link {
      @media (min-width: $md) {
        color: $color-black;
        text-decoration: none;
        display: block;
        font-size: 14px;
        font-weight: 700;
      }
    }

    &__image {
      @media(min-width: $sm) {
        width: 16rem;
      }
    }
  }
}

.welcome-image {
  margin-bottom: -1rem;

  &__background {
    background: url("img/back-desktop.jpg") no-repeat;
    background-size: 100%;

    @media (min-width: $sm) {
      height: 15rem;
    }

    @media (min-width: $md) {
      height: 34rem;
    }

    @media (min-width: $lg) {
      height: 48rem;
      margin-bottom: 1rem;
    }
  }

  &__content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: $sm) {
      height: 10rem;
      width: 15rem;
    }
    @media (min-width: $md) {
      height: 30rem;
      width: 35rem;
    }

    @media (min-width: $lg) {
      height: 40rem;
      width: 45rem;
    }
  }
}

.cause {
  padding-top: 3rem;
  text-align: center;
  background-color: $bg-color-white;

  &__slogan {
    @include bold;
    margin: 0 auto;

    @media (min-width: $sm) {
      width: 30rem;
    }

    @media (min-width: $md) {
      width: 60rem;
      padding-top: 2rem;
    }
  }

  &__intro {
    color: $color-small-text;
    font-size: 1.4rem;
    padding-top: 2rem;
    margin: 0 auto;

    @media (min-width: $sm) {
      width: 32rem;
      padding-bottom: 3rem;
    }

    @media (min-width: $md) {
      width: 60rem;
      padding-bottom: 4rem;
    }
  }
}

.cause-first {
  display: flex;

  @media(min-width: $sm) {
    flex-direction: column;
  }

  @media(min-width: $md) {
    flex-direction: row;
  }
}

.cause-content {
  flex: 1;
  background-color: $bg-color-blue;
  color: $bg-color-white;
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media(min-width: $sm) {
    max-height: 20rem;
  }
  @media(min-width: $md) {
    height: 17rem;
  }

  &__title {
    font-size: 2.1rem;
  }

  &__number {
    font-size: 1.4rem;
  }

  &__text {
    font-size: 1.4rem;
  }
}

.cause-image__attractions {
  flex: 2;
  width: 100%;
  height: 20rem;
  margin-bottom: -.5rem;
}

.cause-image {
  @media (min-width: $md) {
    flex: 2;
  }
}

.merits {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;

  @media (min-width: $sm) {
    flex-direction: column;
  }

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.merits-block {
  @media (min-width: $sm) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 6.3rem;
    margin: 0 auto;
    height: 6rem;
    padding-top: 1rem;
  }

  &__title {
    @include bold;
    font-size: 2.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.4rem;

    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @media (min-width: $sm) {
      width: 30rem;
    }
    @media (min-width: $md) {
      width: 20rem;
    }
    @media (min-width: $lg) {
      width: 30rem;
    }
  }
}

.cause-remaining {
  display: flex;
  justify-content: space-around;
  background: $bg-color-dark;
  padding-top: 2rem;

  @media (min-width: $sm) {
    flex-direction: column;
  }
  @media (min-width: $md) {
    flex-direction: row;
  }
}

.cause-block {

  &__title {
    @include bold;
    margin: 0 auto;
    color: $color-black;
    font-size: 2.1rem;
    width: 13rem;
    padding-top: 1rem;
  }

  &__number {
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__content {
    color: $color-small-text;
    font-size: 1.4rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @media (min-width: $sm) {
      width: 30rem;
    }

    @media (min-width: $md) {
      width: 20rem;
    }

    @media (min-width: $lg) {
      width: 30rem;
    }
  }
}

.hotel {
  background: $bg-color-white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hotel-block {
  padding-top: 2rem;
  padding-bottom: 4rem;

  &__title {
    @include bold;
    font-size: 2.1rem;
    color: $color-black;
  }

  &__subtitle {
    font-size: 1.4rem;
    color: $color-small-text;
    padding-bottom: 2rem;
    margin: 0 auto;

    @media (min-width: $sm) {
      width: 28rem;
    }
    @media (min-width: $md) {
      width: 50rem;
    }
  }

  &__button {
    @include bold;
    background: $bg-color-blue;
    color: $bg-color-white;
    font-size: 2.1rem;
    padding: 1rem 8rem;
    border: none;
    cursor: pointer;

    @media (min-width: $sm) {
      width: 30rem;
    }

    @media (min-width: $md) {
      width: 50rem;
    }
  }
}

iframe {
  width: 100%;
}

.footer-block {
  display: flex;
  background: $bg-color-white;
  @media (min-width: $sm) {
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
  }
  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
  }
}

.footer-contacts {
  @media (min-width: $sm) {
    margin: 0 auto;
  }
  @media (min-width: $md) {
    padding: 1.5rem;
    margin: 0;
  }

  &__title {
    color: $color-black;
    font-size: 21px;
  }
}

.footer-social {
  @media (min-width: $sm) {
    padding-top: 2rem;
  }
  @media (min-width: $md) {
    padding-top: 0;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    width: 4.5rem;
    height: 4.5rem;
    background: $bg-color-blue;
    margin: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.copyright-item {

  &--position {
    @include bold;
    font-size: 1.4rem;
    display: flex;
    padding-top: .7rem;
    margin-right: 1rem;
    @media (min-width: $md) {
      padding: 1rem;
    }
  }
}

.footer-copyright {
  @media (min-width: $sm) {
    padding-top: 2rem;
  }
  @media (min-width: $md) {
    padding-top: 0;
  }

  &__items {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }
}
