@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

html {
  font-size: 62.5%;
}

body {
  background: $bg-color-dark;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.page-header {
  background: $bg-color-white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.site-list {
  margin: 0;
  padding: 0;
}

.main-nav {
  margin-bottom: -1.3rem;
  margin-top: -1rem;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 2.3rem;
    padding-bottom: 4rem;
  }

  &__item {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 20%;
    justify-content: space-around;
  }

  &__item:nth-child(2) {
    margin-right: 20%;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  &__link {
    color: $color-black;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
  }
}

main {
  width: 100%;
}

.welcome-image {

  &__background {
    background: url("img/back-desktop.jpg") no-repeat;
    background-size: 100%;
  }

  &__content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.cause {
  padding-top: 3rem;
  text-align: center;
  background-color: $bg-color-white;

  &__slogan {
    @include bold;
  }

  &__intro {
    color: $color-small-text;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.cause-first {
  display: flex;
  flex-direction: row;
}

.cause-content {
  flex: 1;
  background-color: $bg-color-blue;
  color: $bg-color-white;
  height: 23.6rem;
  padding-top: 2rem;

  &__title {
    font-size: 2.1rem;
  }

  &__number {
    font-size: 1.4rem;
  }

  &__text {
    font-size: 1.4rem;
  }
}

.cause-image {
  flex: 2;
  position: relative;
  width: 100%;
}

.merits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3.7rem;
}

.merits-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  margin-top: 3rem;

  &__img {
    width: 6.3rem;
    margin: 0 auto;
    height: 6rem;
    padding-bottom: 3rem;
  }

  &__title {
    @include bold;
    font-size: 2.1rem;
    padding-bottom: 2.8rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    width: 30rem;
  }
}

.cause-second {
  display: flex;
  flex-direction: row;
  margin-bottom: -0.3rem;
}

.cause-image {
  flex: 2;
}

.cause-remaining {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: $bg-color-dark;
  padding-top: 2rem;
}

.cause-block {

  &__title {
    @include bold;
    margin: 0 auto;
    color: $color-black;
    font-size: 2.1rem;
    width: 13rem;
    padding-top: 4.8rem;
  }

  &__number {
    font-size: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  &__content {
    color: $color-small-text;
    font-size: 1.4rem;
    width: 30rem;
    padding-bottom: 7rem;
  }
}

.hotel {
  background: $bg-color-white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hotel-block {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    @include bold;
    font-size: 2.1rem;
    color: $color-black;
  }

  &__subtitle {
    font-size: 1.4rem;
    color: $color-small-text;
    padding-bottom: 1rem;
  }

  &__button {
    background: $bg-color-blue;
    color: $bg-color-white;
    font-size: 2.1rem;
    //
    font-family: "PT Sans", sans-serif;
    padding: 1rem 15rem;
    border: none;
    cursor: pointer;
  }
}

iframe {
  width: 100%;
}

.footer-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
  background: $bg-color-white;
  margin-top: -.5rem;
  flex-wrap: wrap;
}

.footer-contacts {
  margin-top: 1.5rem;

  &__title {
    color: $color-black;
    font-size: 21px;
  }
}

.footer-social {

  &__items {
    display: flex;
    flex-direction: row;
    margin-top: -.1rem;
  }

  &__item {
    list-style: none;
    width: 4.5rem;
    height: 4.5rem;
    background: $bg-color-blue;
    margin: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.copyright-item {

  &--position {
    @include bold;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
  }
}

.footer-copyright {
  margin-top: 1.5rem;

  &__items {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 0;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }
}
