@import "variables.scss";

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('/fonts/Roboto.woff2') format('woff2'), url('/fonts/Roboto.woff') format('woff'), url('/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'), url('/fonts/Robotoitalic.woff2') format('woff2'), url('/fonts/Robotoitalic.woff') format('woff'), url('/fonts/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/Robotobold.woff2') format('woff2'), url('/fonts/Robotobold.woff') format('woff'), url('/fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/fonts/Robotobolditalic.woff2') format('woff2'), url('/fonts/Robotobolditalic.woff') format('woff'), url('/fonts/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



.page-header, main, footer {
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
}

body {
  background: $bg-color-dark;
  font-family: "Roboto", sans-serif;
}

.page-header {
  background: $bg-color-white;
}

.site-list {
  margin: 0;
  padding: 0;
}

.main-nav {
  margin-bottom: -1.3%;
  margin-top: -1%;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 23px;
    padding-bottom: 40px;
  }

  &__item {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  &__link {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: block;
  }

}

.welcome-image {

  &__background {
    background: url("img/back-desktop.jpg") no-repeat;
  }

  &__content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.cause {
  padding-top: 3em;
  text-align: center;
  background-color: $bg-color-white;

  &__slogan {
    font-weight: bold;
    font-size: 21px;
  }

  &__intro {
    color: $color-small-text;
    font-size: 14px;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  &__title {
    font-size: 21px;
    font-weight: bold;
  }

  &__text {
    font-size: 14px;
  }
}

.cause-first {
  display: flex;
  flex-direction: row;
}

.cause-content {
  flex: 1;
  padding-top: 2em;
  background-color: $bg-color-blue;
  color: $bg-color-white;
  height: auto;
}

.cause-image {
  flex: 2;
  position: relative;
  width: 100%;
  height: auto;
}

.merits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding-top: 3.7em;
}

.merits-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  &__img {
    width: 63px;
    margin: 0 auto;
    height: 60px;
    padding-bottom: 1em;
  }

  &__title {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 1em;
  }
  &__subtitle {
    font-size: 14px;
  }
}

.cause-second {
  display: flex;
  flex-direction: row;
  margin-bottom: -0.3em;
}

.cause-content {
  padding-top: 2em;
  background-color: $bg-color-blue;
  color: $bg-color-white;
  flex: 1;
}

.cause-image {
  flex: 2;
}

.cause-remaining {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  background: $bg-color-dark;
  padding-top: 2em;

}

.cause-block {

  &__title {
    color: black;
    font-size: 21px;
    font-weight: bold;
  }

  &__number,
  &__text {
    color: $color-small-text;
    font-size: 14px;
  }

  &__text {
    padding-bottom: 2em;
  }
}

.hotel {
  background: $bg-color-white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hotel-block {
  padding-top: 2em;
  padding-bottom: 2em;

  &__title {
    font-size: 21px;
    color: black;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 14px;
    color: $color-small-text;
    padding-bottom: 1em;
  }

  &__button {
    background: $bg-color-blue;
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    padding: 1% 15%;
    border: none;
    cursor: pointer;
  }
}

.map {

  iframe {
    width: 100%;
  }

}

.footer-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2em;
  background: $bg-color-white;
  margin-top: -5px;
  flex-wrap: wrap;
}

.footer-contacts__title {
  color: black;
  font-size: 21px;
  font-weight: bold;
  padding-top: 100px;
}

.footer-social {

  &__items {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
  }

  &__item {
    list-style: none;
    width: 45px;
    height: 45px;
    background: $bg-color-blue;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-social {

  &__items {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: -5px;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}

.copyright-item--position {
  padding-top: 5%;
  padding-right: 10px;
}

.footer-copyright {

  &__items {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 0;
  }
  &__link {
    text-decoration: none;
    color: #000;
  }
}
